.titulo-contacto{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 50px;
  }

  .contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    color: white;
    text-shadow: 2px 2px 2px black;
  }

  .input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  input, textarea{
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid white;
  }

  form{
    justify-content: space-between;
    padding: 50px 50px; 
    background-image: $imagen-fondo;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
    height: 700px;
    width: 1200px;
    margin-bottom: 150px;

  }

  form h2{
    font-size: 30px;
  }

  label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .btn{
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    background-color: gray;
    border: 0;
    border-radius: 25px;
    width: 250px;
    margin-left: auto;
    transition: 1s;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
      transition: 1s;
    }
  }