@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* 
  {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
  }

  body{
    margin: 0;
  }

  header {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgb(114, 114, 114);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-shadow: 1px 0px 1px white;
  }

  .logo {
    display: flex;  
    align-items: center;
  }

  .logo img{
    height: 50px;
    margin-right: 5px;
  }

  h1 {
    color: #001827;
    font-size: 35px;
  }

  .navegador {
    font-size: 20px;
  }

  a {
    text-decoration: none;
  }

  nav a {
    color: #001827;
    font-weight: 600;
    padding-right: 10px;
  }
  
  .portada{
    background-image: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),url(./images/foto11.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .texto-portada{
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding: 20px;
  }

  .titulo-portada{
    font-size: 70px;
  }

  .nosotros-portada{
    display: flex;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),url(./images/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    align-items: center;
  }

  .cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;  
    background-image: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)), url(./images/fondo.jpg);
    background-size: cover;
    background-position: center;  
    margin: auto;
    padding: 10px;
  }

  .nosotros-cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;  
    margin: auto;
    padding: 50px;
  }

  .nosotros-texto{
    font-size: 20px;
    color:#001827;
    text-align: center;
    padding: 35px;
  }
  
  .imagen-cuadro{
    height: 70%;
    width: 70%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
  }

  .texto-cuadro{
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding: 15px;
  }

  .section-service{
    padding-bottom: 150px;
  }

  .servicios{
    font-size: 30px;
    margin-left: 50px;
  }

  .card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    padding: 100px;     
  }

  .card{
    background-image: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),url(./images/fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 325px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
    margin: 20px;
    overflow: hidden;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
  }

  .card-nosotros{
    background-image: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),url(./images/fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 325px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
    margin-bottom: 150px;
    overflow: hidden;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
  }

  .card-nosotros h4{
    font-size: 25px;
  }

  .card img{
    height: 50%;
    width: 100%;
    object-fit:cover;
  }

  .titulo-contacto{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 50px;
  }

  .contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    color: white;
    text-shadow: 2px 2px 2px black;
  }

  .input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  input, textarea{
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid white;
  }

  form{
    justify-content: space-between;
    padding: 50px 50px; 
    background-image: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),url(./images/fondo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
    height: 700px;
    width: 1200px;
    margin-bottom: 150px;

  }

  form h2{
    font-size: 30px;
  }

  label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .btn{
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    background-color: gray;
    border: 0;
    border-radius: 25px;
    width: 250px;
    margin-left: auto;
    cursor: pointer;
  }

  footer{
    display: flex;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),url(./images/fondo.jpg);
    background-size: cover;
    background-position: center;
  }

  footer iframe{
    height: 200px;
    width: 400px;
    padding: 15px;
  }

  .texto-footer{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    padding: 15px;
    margin-right: 150px;
    word-spacing: 1px;
  }

  .buttons{
    position: absolute;
    justify-content: center;
    right: 10px;
  }

  .buttons a {
    font-size: 28px;
    width: 28px;
    height: 28px;
    text-align: center;
    color: white;  
  }

  footer ul {
    list-style-type: none;    
  }

  footer li{
    padding: 15px;
  }

  @media(max-width: 1024px){

    .card-nosotros h4{
      margin-bottom: 0px;
    }

    footer iframe{
      height: 150px;
      width: 300px;
    }

    .texto-footer{
      font-size: 18px;
      margin-right: 60px;
    }

    .buttons a{
      font-size: 25px;
    }

    footer li{
      padding: 8px;
    }
  }

  @media(max-width: 768px){

    h1{
      font-size: 25px;
    }

    .navegador{
      font-size: 18px;
    }

    .portada{
      height: 400px;
    }

    .texto-portada{
      font-size: 20px;
    }

    .titulo-portada{
      font-size: 30px;
    }

    .nosotros-texto{
      font-size: 18px;
    }

    .imagen-cuadro{
      height: 50%;
      width: 50%;
    }

    .texto-footer{
      font-size: 16px;
    }

    footer iframe{
      width: 200px;
    }
  }

  @media(max-width: 480px){

    h1{
      font-size: 15px;
    }

    header{
      height: 60px;
    }

    .servicios{
      font-size: 20px;
    }

    .navegador{
      font-size: 12px;
    }

    .cuadro{
      height: 400px;
    }

    .texto-cuadro{
      font-size: 15px;
    }

    .logo img{
      height: 40px;
    }

    .texto-footer{
      font-size: 10px;
    }   

    footer iframe{
      height: 120px;
      width: 100px;
    }

    .buttons a{
      font-size: 15px;
    }

    footer li{
      padding: 2px;
    }

    .nosotros-texto{
      font-size: 15px;
    }

    .card-nosotros{
      font-size: 18px;
    }

  }